<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Halaman Index</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header class="container mt-5">
      <h1>Ini adalah halaman Index</h1>
      <h1>Halo, nama saya <%= nama %></h1>
    </header>

    <main class="container mt-4">
      <% mahasiswa.forEach(mhs => { %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Nama: <%= mhs.nama %></h5>
          <p class="card-text">Email: <%= mhs.email %></p>
        </div>
      </div>
      <% }) %>
    </main>

    <footer class="container mt-5">
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
      ></script>
    </footer>
  </body>
</html>
